body {
   background-color: #f3f6d4
}
        
/* Overarching navbar design styling */
.navbar {
position: relative;
display: flex;
height: auto;
justify-content: space-between;
width: 100%;
padding: 0;
margin: 0;
z-index: 1;
}

/* Overlay Styling */
.overlay {
position: fixed;
width: 100%;
/*Figure out issue with to remove px specification of height. It should take the parent's height
Issue with % (percentages) */
height: 100px;
z-index: -1;
background-color: #f4f6d4;
opacity: 0.5;
}

/* Navigation bar selection list div styling (The box encapsulating the UL)*/
.selectionList{
position: relative;
align-self: center;
width: auto;
}

/* Navigation bar selection list styling (The actual "ul" tag) */
.selectionList > ul {
list-style-type: none;
margin: 0;
padding: 0;
}

/* Styling for the navigation bar list items (Each of the "ul" items) */
.selectionList > ul > li {
float: left;
}

/* List item hover effect */
.selectionList > ul > li :hover{
background-color: grey;
}

/* The sign out button styling */
.selectionList > ul > li a{
display: block;
text-decoration: none;
padding: 8px;
margin: 8px;
color: white;
background-color: black;
border-radius: 8px;
}

/* Styling for checkout bag button */
#checkoutBag {
display: block;
text-decoration: none;
border: none;
padding: 8px;
margin: 8px;
background-color: #f4f6d4;
opacity: 0.5; 
}

/* Styling for checkout bag image */
#checkoutBag > img {
width: 20px;
height: auto;
}

/* Logo div */
.logo {
position: relative;
z-index: -1;
justify-items: center;
align-items: center;
}

/* Logo Image resizing */
.logo > img {
width: 100px;
height: auto;
}


hr{
   height: 0.2px;
   color:black;
   background-color: black;
}

.box{
   
   background:#f4f6d4;
   border: 3px solid black;
   width: 35%;
   height: flex;
   display: flex;
   margin: auto;
   top:30%;
   left:30%;
   border-radius: 3px
}


.btn {
background-color: #4CAF50;
color: white;
padding: 12px;
margin: 10px 0;
border: none;
width: 100%;
border-radius: 3px;
cursor: pointer;
font-size: 17px;
}  


h2{
padding-left:32%;  
}
.back{
   float: left;
   width: 10%;
}



